@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
}

:root {
  --color-primary: #5a28cf;
  --color-secondary: linear-gradient(to bottom right, #9870f6, #dd86ea);
  --color-extra: #f4feff;
  --color-last: #fff;
  --color-font: #2b044d;
}

/*Text Styling*/
/*buttons*/
/*grid style*/
.grid-reversed :first-child {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

/* nav bar*/
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  padding: 1.25rem 2.5rem;
  background-color: var(--color-extra);
}

nav .logo {
  color: #f9218d;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  padding-left: 2.8rem;
}

.navbar-links {
  padding-right: 2rem;
}

nav ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  position: relative;
  list-style-type: none;
  padding-bottom: .7rem;
  -webkit-transition: border-bottom .2s ease 100ms;
  transition: border-bottom .2s ease 100ms;
  margin: 0 .3rem;
}

nav ul li:hover {
  border-bottom: 3px solid #a60dcf;
}

nav ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  color: var(--color-font);
  font-size: 16px;
}

.home {
  border-bottom: 3px solid #a60dcf;
}

.inner {
  /* padding-top: 8rem;
    padding-bottom: 100rem;*/
}

nav.sticky {
  padding: 10px 100px;
  background-color: #fff;
  -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
          box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  z-index: 2;
}

.toggle-button {
  position: absolute;
  top: 2rem;
  right: 5rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #000;
  border-radius: 10px;
}

.sect-1 {
  padding-top: 9rem;
  font-family: 'Nunito', sans-serif;
  font-size: 1.81rem;
  /*font-size: clamp(1.81rem, 3.43rem + 100vw, 4.06);*/
  line-height: 1.2;
  font-weight: 700;
  color: var(--color-font);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
  font-weight: 700;
  font-family: "Nunito",sans-serif;
}

.form {
  padding: 6rem 1.5rem;
}

.form h3 {
  font-family: 'Nunito', sans-serif;
  font-size: 1.81rem;
  /*font-size: clamp(1.81rem, 3.43rem + 100vw, 4.06);*/
  line-height: 1.2;
  font-weight: 700;
  color: var(--color-font);
  margin-bottom: 20px;
  font-size: 27px;
  font-weight: 600;
}

.form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form form input {
  margin-bottom: 1rem;
  border: 1px solid #e5e6e9;
  border-radius: 0px;
}

.form form #message {
  height: 170px;
  padding-left: 1rem;
  padding-bottom: 7rem;
}

.form form #name {
  height: 48px;
  padding-left: 1rem;
}

.form form #email {
  height: 48px;
  padding-left: 1rem;
}

.form form #subject {
  height: 48px;
  padding-left: 1rem;
}

.form form .btn {
  width: 139px;
  height: 59px;
  background-color: #fff;
  color: #8f1bdc;
  border: #8f1bdc .5px solid;
  font-family: "Nunito",sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.social-bar {
  padding: 0 1.5rem;
}

.social-bar .social-cont .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 1.5rem;
}

.social-bar .social-cont .icon i {
  padding-right: 1rem;
  color: #8f9195;
  font-size: 32px;
}

.social-bar .social-cont .icon .p .one {
  font-size: 16px;
  color: #2a2a2a;
}

.social-bar .social-cont .icon .p .two {
  color: #8a8a8a;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 15px;
  font-weight: normal;
}

.footer {
  background-color: #fff;
  padding: 3rem 1.5rem;
}

.footer .foot-cont .rows {
  padding-bottom: 1.3rem;
}

.footer .foot-cont .rows .row-1 h3 {
  color: #f9218d;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.footer .foot-cont .rows .row-1 p {
  color: #707b8e;
  font-size: 16px;
  line-height: 30px;
  font-weight: normal;
}

.footer .foot-cont .rows .row {
  margin-bottom: 50px;
}

.footer .foot-cont .rows .row-list h3 {
  font-family: "Nunito",sans-serif;
  color: #000;
  font-size: 18px;
  margin-bottom: 48px;
  font-weight: 700;
}

.footer .foot-cont .rows .row-list ul li {
  margin-bottom: 15px;
}

.footer .foot-cont .rows .row-list ul li a {
  color: #868c98;
  font-weight: 300;
}

.footer .foot-cont .rows .row-4 h3 {
  font-family: "Nunito",sans-serif;
  color: #000;
  font-size: 18px;
  margin-bottom: 48px;
  font-weight: 700;
}

.footer .foot-cont .rows .row-4 p {
  margin-bottom: 40px;
  color: #707b8e;
  font-size: 16px;
  line-height: 30px;
  font-weight: normal;
}

.footer .foot-cont .rows .row-4 .email .email-cont p .input {
  width: 80%;
  height: 40px;
  margin-right: -4px;
  border: none;
  font-size: 1rem;
}

.footer .foot-cont .rows .row-4 .email .email-cont p .btn {
  background-color: #8f1bdc;
  border: none;
  height: 40px;
  width: 60px;
}

.home-btn {
  position: absolute;
}

.home-btn .btn {
  background-color: #8f1bdc;
  padding: 1.5rem 1.5rem;
  border-radius: 50%;
}

@media only screen and (min-width: 980px) {
  .sect-2 {
    padding: 0 4rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .sect-2 .form form #message {
    width: 610px;
  }
  .sect-2 .social-bar .social-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #email, #name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 1200px) {
  .footer {
    padding: 5rem 2rem;
  }
  .footer .foot-cont .rows {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .footer .foot-cont .rows .row-4 .email .email-cont p .input {
    width: 60%;
  }
}

@media (max-width: 800px) {
  /*nav*/
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .toggle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar-links ul {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar-links ul li {
    text-align: center;
    padding-bottom: 2.3rem;
  }
  .navbar-links ul li a {
    padding: .5rem 1rem;
  }
  .navbar-links.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .home {
    border: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  nav .logo {
    padding-left: 1.1rem;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 398px) {
  .toggle-button {
    left: 310px;
    top: 40px;
  }
}
/*# sourceMappingURL=style.css.map */